




<h1>Login</h1>

<!-- Take inputs for registration -->
<form action="/login " method="POST">
    

<div>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" 
    required>
</div>
<br>
<div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" 
    required>
</div>
<br>

<button id="button" class="float-left submit-button">Login </button>
<script type="text/javascript">
document.getElementById("button").onclick = function (){
    var xhr=new XMLHttpRequest()
    xhr.open('POST','/login',true)
    xhr.onload= function(){
        if(this.status==200){
       
        if(email && passw){
        location.href="/Events"
     }

    else{
        const error='No user found or wrong credentials'
        location.href="/register"

        console.log("No user found or wrong credentials")
    }}
    }

    

xhr.send()
}




 </script>
    
    

</form>
<br>
<a href="/register">Register</a>

<body>
    
    <div class="error">
        {{#error}}
        <p name="id" value="{{error}} "
     
        href="/login">{{error}}</p>
        {{/error}}
</body>



