<h1>Login</h1>

<!-- Take inputs for registration -->
<form action="/login" method="POST">
    

<div>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" 
    required>
</div>
<br>
<div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" 
    required>
</div>
<br>
<button type="submit">Login </button>

</form>
<br>
<a href="/register">Register</a>

<body>
    <div class="error">
        {{#error}}
        <p name="id" value="{{error}} "
        href="/login">{{error}}</p>
        {{/error}}
</body>